.card-container {
    border: solid;
    width: 25%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
}

.remove-button {
    margin-bottom: 1%;
    width: 20%;
}

h1 {
    text-align: center;
}